<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">

    <head>
        <meta charset="utf-8">
        <title>Прирост населения</title>
        <link rel="stylesheet" th:href="@{/styles.css}" href="../static/styles.css">
    </head>

    <body>
        <div class = "mainblock">
            <div class="header-content flex row-flex">
                <h1 class="page-title"> Процентный прирост населения во многих странах мира</h1>
                <img th:src="@{img/hands.jpg}" alt="" class="hand">
            </div>
        </div>
        <div class="body ">
            <div class="flex column-flex">
                <div class = "textbox flex column-flex">
                    <input type="number" placeholder="Введите начальный год" class="input-text">
                    <input type="submit" value="Поиск" class="input-finish">
                </div>
            </div>
            <div>
                <table class="table">
                    <tr>
                        <th>
                            Country
                        </th>
                        <th th:each="year: ${years}">
                        </th>
                    </tr>
                    <tr th:each="grInCountry: ${growthInCountry}">
                        <th th:text="grInCountry.country">
                        </th>
                        <th th:each="val: ${grInCountry.value}">
                        </th>
                    </tr>
                </table>
            </div>
        </div>
        
        <div>
            <div class=" header-content flex row-flex">
                <img src="img/world.jpg" alt="" class="world">
            </div>
        </div>
        <div class="body developers flex column-flex">
            <div>Our GitHub page:</div>
            <div>
                <u1>
                    <li><a href="https://github.com/maraaat" target="_blank">Ахмедиев Марат</a></li>
                    <li><a href="https://github.com/redmopag" target="_blank">Габдеев Айрат</a></li>
                </u1>
            </div>
        </div>
        


    </body>

</html>